
body{
    background-color: rgb(239, 235, 235);
}

.navegacion{
    background-color: rgb(239, 235, 235);
    margin-bottom: 20px;
}
.content{
    
    margin-left: 10px;
    
}

.descripcion{
    margin-left: 70%;
}

.slider{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    
}

.descripcionContenedor{
    gap: 5px;
}



.logoUfps{
    margin-right: 50px;
}

.logoIngSistemas{
    margin-left: 50px;
}

.escenario1C{
    margin-top: 20px;
    margin-bottom: 20px;
}



